.attendance {
    padding: 80px;
    margin-left: 220px;
  }
  /* Header Styling */
header {
  position: fixed;
  top: 0;
  left: 0; /* Start after the sidebar */
  right: 0; /* Ensure it stretches to the right side */
  height: 60px;
  background-color: #444;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  box-sizing: border-box;
  z-index: 1;
}
  .attendance h2 {
    margin-bottom: 20px;
  }
  
  .attendance table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .attendance th, td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: left;
  }
  
  .attendance th {
    background-color: #45a049;
  }
  