.view-feedback {
  padding: 80px;
  margin-left: 220px; /* Adjust this value based on your sidebar's width */
}
/* Header Styling */
header {
  position: fixed;
  top: 0;
  left: 0; /* Start after the sidebar */
  right: 0; /* Ensure it stretches to the right side */
  height: 60px;
  background-color: #444;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  box-sizing: border-box;
  z-index: 1;
}

.view-feedback h2 {
  margin-bottom: 20px;
}

.view-feedback table {
  width: 100%;
  border-collapse: collapse;
}

.view-feedback th, td {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: left;
}

.view-feedback th {
  background-color: #45a049;
}
